.pagination {
  display: flex;
  gap: 12px;
}

.paginationsPages {
  display: flex;
  gap: 6px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border: 1px solid var(--gray2);
  border-radius: 8px;
}

.paginationButton svg {
  color: var(--gray2);
}

.paginationButton:hover, .disabled {
  border: 1px solid var(--gray1);
}

.paginationButton:hover svg, .disabled svg {
  color: var(--gray1);
}

.active, .active:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}
