.button {
  display: flex;
  justify-content: center;
  gap: 8px;

  border-radius: 18px;
  background-color: var(--green1);
  padding: 12px;
}

.button:hover {
  background-color: var(--green2);
}

.isDisabled, .isDisabled:hover {
  background-color: var(--gray1);
  cursor: default;
}