.headerWrapper {
  padding: var(--layoutPadding);
  border-bottom: 1px solid var(--gray0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  display: flex;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}