.card {
  border: 1px solid var(--gray1);
  border-radius: 40px;
  padding: 20px 30px 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 215px;
  height: 265px;

  cursor: pointer;
}

.card:hover {
  border-color: var(--gray2);
}

.image {
  width: 100%;
}

.footer {
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 2px;
}